@media only screen and (max-width: 600px) { header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    }
   
    header nav .top-nav{
    display:flex;
    }
   
    .nav-area li{
    padding: 0 10px;
    }
   
    .wrapper{
    width: 100% !important;
    }
   
    .home{
    margin-top: 2rem !important;
    }
   
    .home-text{
    width: 90%;
    }
   
    .home .home-text .container{
    min-height: auto;
    height: auto;
    justify-content: center;
    align-items: center;
   
    }
   
    .home .home-text .container p{
    margin-top: 5px;
    padding: 1rem 2.5rem;
    height: 8rem;
    margin-right: 0;
   
    }
   
    .home .home-text .container p span{
    display: inline-block;
    }
   
    .home-btn{
    display: block;
    }
    }